:root {
  font-size: 0.9375em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: top left, bottom right;
  font-family: "League Spartan", sans-serif;
  padding: 5.4666666667rem 1.6rem 6.6rem;
  position: relative;
  display: flex;
  justify-content: center;
}
@media (min-width: 1000px) {
  body {
    padding-top: 7.8666666667rem;
    padding-bottom: 6.6666666667rem;
    background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    background-size: auto auto;
  }
}

.main {
  z-index: 2;
  max-width: 36.6666666667rem;
}
@media (min-width: 1000px) {
  .main {
    max-width: none;
    display: grid;
    grid-template: repeat(2, min-content)/445px min(540px, 0.2159090909 * 100vw + 229.0909090909px);
    grid-template-areas: "intro ratings" "testimonials testimonials";
    column-gap: min(8.3333333333rem, 0.2840909091 * 100vw + -18.9393939394rem);
    row-gap: 4.7333333333rem;
  }
}

.intro {
  grid-area: intro;
}

.intro__heading {
  font-size: 2.6666666667rem;
  line-height: 0.8;
  font-weight: 700;
  letter-spacing: -1.43px;
  margin-bottom: 0.425em;
  text-align: center;
  color: hsl(300deg, 43%, 22%);
}
@media (min-width: 1000px) {
  .intro__heading {
    font-size: 3.7333333333rem;
    line-height: 0.8571428571;
    letter-spacing: -2px;
    margin-bottom: 0.2857142857em;
    text-align: left;
  }
}

.intro__paragraph {
  font-size: 1.2666666667rem;
  line-height: 1.3157894737;
  font-weight: 500;
  letter-spacing: -0.633333px;
  color: hsl(303deg, 10%, 53%);
  text-align: center;
  margin-bottom: 2.0526315789em;
}
@media (min-width: 1000px) {
  .intro__paragraph {
    text-align: left;
    margin-bottom: 0;
  }
}

.ratings {
  display: flex;
  flex-direction: column;
  gap: 1.0666666667rem;
  margin-bottom: 3.2666666667rem;
}
@media (min-width: 1000px) {
  .ratings {
    grid-area: ratings;
    margin-bottom: 0;
    justify-content: center;
  }
}

.rating {
  width: 100%;
  background-color: hsl(300deg, 24%, 96%);
  border-radius: 8px;
  padding-top: 1.0666666667rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 1000px) {
  .rating {
    max-width: 29.6666666667rem;
    padding-block: 1.3333333333rem;
    padding-left: 2.1333333333rem;
    flex-direction: row;
    gap: 2.1633333333rem;
  }
}

.rating__stars {
  width: 7.77rem;
  display: flex;
  justify-content: space-between;
}

.rating__caption {
  font-size: 1.1333333333rem;
  line-height: 0.9411764706;
  font-weight: 700;
  color: hsl(300deg, 43%, 22%);
}

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 1.0666666667rem;
}
@media (min-width: 1000px) {
  .testimonials {
    grid-area: testimonials;
    flex-direction: row;
    height: min(17.7333333333rem, 0.0727272727 * 100vw + 10.7515151515rem);
    align-items: flex-start;
    gap: 2rem;
  }
}

.testimonial {
  background-color: hsl(300deg, 43%, 22%);
  color: hsl(0deg, 0%, 100%);
  padding: 2.6666666667rem 2.1333333333rem 2.3333333333rem;
  border-radius: 8px;
}

.testimonial__user-info {
  display: flex;
  gap: 1.5333333333rem;
  font-size: 1.1333333333rem;
  line-height: 0.9411764706;
  margin-bottom: 1.5333333333rem;
}
@media (min-width: 1000px) {
  .testimonial__user-info {
    margin-bottom: 2.0666666667rem;
  }
}

.testimonial__profile-pic {
  width: 2.6666666667rem;
  border-radius: 100%;
}

.testimonial__name {
  font-weight: 700;
  margin-top: 0.2rem;
  margin-bottom: 0.2666666667rem;
}

.testimonial__verified {
  font-weight: 400;
  color: hsl(333deg, 80%, 67%);
}

.testimonial__quote {
  font-size: 1.1333333333rem;
  line-height: 1.2941176471;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.attribution {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1em;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media (min-width: 1000px) {
  .align-center {
    align-self: center;
  }

  .align-end {
    align-self: flex-end;
  }
}

/*# sourceMappingURL=style.css.map */
