@use "utilities/global" as *;

@include setup;

body {
  background: {
    image: url("../images/bg-pattern-top-mobile.svg"),
      url("../images/bg-pattern-bottom-mobile.svg");
    repeat: no-repeat, no-repeat;
    size: contain, contain;
    position: top left, bottom right;
  }
  font-family: $font-league-spartan;
  padding: rem(82px) rem(24px) rem(99px);
  position: relative;
  display: flex;
  justify-content: center;
  @media (min-width: $breakpoint) {
    padding-top: rem(118px);
    padding-bottom: rem(100px);
    background-image: url("../images/bg-pattern-top-desktop.svg"),
      url("../images/bg-pattern-bottom-desktop.svg");
    background-size: auto auto;
  }
}

.main {
  z-index: 2;
  max-width: rem(550px);
  @media (min-width: $breakpoint) {
    max-width: none;
    display: grid;
    grid-template: repeat(2, min-content) / 445px lerp_min(
        1000px,
        445px,
        1440px,
        540px
      );
    grid-template-areas: "intro ratings" "testimonials testimonials";
    column-gap: lerp_min(1000px, 0rem, 1440px, rem(125px));
    row-gap: rem(71px);
  }
}

.intro {
  grid-area: intro;
}

.intro__heading {
  @include setFont(rem(40px), 32px, 700);
  letter-spacing: -1.43px;
  margin-bottom: em(17px, 40px);
  text-align: center;
  color: color(very-dark-magenta);
  @media (min-width: $breakpoint) {
    @include setFont(rem(56px), 48px);
    letter-spacing: -2px;
    margin-bottom: em(16px, 56px);
    text-align: left;
  }
}

.intro__paragraph {
  @include setFont(rem(19px), 25px, 500);
  letter-spacing: -0.633333px;
  color: color(dark-grayish-magenta);
  text-align: center;
  margin-bottom: em(39px, 19px);
  @media (min-width: $breakpoint) {
    text-align: left;
    margin-bottom: 0;
  }
}

.ratings {
  display: flex;
  flex-direction: column;
  gap: rem(16px);
  margin-bottom: rem(49px);
  @media (min-width: $breakpoint) {
    grid-area: ratings;
    margin-bottom: 0;
    justify-content: center;
  }
}

.rating {
  width: 100%;
  background-color: color(light-grayish-magenta);
  border-radius: 8px;
  padding-top: rem(16px);
  padding-bottom: rem(15px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(15px);
  @media (min-width: $breakpoint) {
    max-width: rem(445px);
    padding-block: rem(20px);
    padding-left: rem(32px);
    flex-direction: row;
    gap: rem(32.45px);
  }
}

.rating__stars {
  width: rem(116.55px);
  display: flex;
  justify-content: space-between;
}

.rating__caption {
  @include setFont(rem(17px), 16px, 700);
  color: color(very-dark-magenta);
}

.testimonials {
  display: flex;
  flex-direction: column;
  gap: rem(16px);
  @media (min-width: $breakpoint) {
    grid-area: testimonials;
    flex-direction: row;
    height: lerp_min(1000px, rem(234px), 1440px, rem(266px));
    align-items: flex-start;
    gap: rem(30px);
  }
}

.testimonial {
  background-color: color(very-dark-magenta);
  color: color(white);
  padding: rem(40px) rem(32px) rem(35px);
  border-radius: 8px;
}

.testimonial__user-info {
  display: flex;
  gap: rem(23px);
  @include setFont(rem(17px), 16px);
  margin-bottom: rem(23px);
  @media (min-width: $breakpoint) {
    margin-bottom: rem(31px);
  }
}

.testimonial__profile-pic {
  width: rem(40px);
  border-radius: 100%;
}

.testimonial__name {
  font-weight: 700;
  margin-top: rem(3px);
  margin-bottom: rem(4px);
}

.testimonial__verified {
  font-weight: 400;
  color: color(soft-pink);
}

.testimonial__quote {
  @include setFont(rem(17px), 22px, 500);
  letter-spacing: -0.3px;
}

.attribution {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1em;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

//utility classes

@media (min-width: $breakpoint) {
  .align-center {
    align-self: center;
  }

  .align-end {
    align-self: flex-end;
  }
}
